.texto3{font-size: 100px ;
        color:rgb(94, 94, 94);
        position: absolute;
        top: 200px;
        left: 1000px;    
        font-family: Georgia, serif;
    }

.texto4{font-size: 50px ;
       color:rgb(94, 94, 94);
       position: absolute;
       top: 320px;
       left: 1005px;    
       font-family: Georgia, serif;
       width: 800px;
   }

.foto1{width: 800px;
       position: absolute;
       left: 80px;
       top: 30px;

}
.div1{ position: relative;
    
    }



       
 .fundo{width: 1903px;
        height: 835px ;

 }                       

